$technologies: (
        "html5": #e34f26,
        "css3-alt": #1572b6,
        "js": #f7df1e,
        "sass": #cc6699,
        "bootstrap": #7952b3,
        "php": #777bb4,
        "python": #306998,
        "java": #5382a1,
        "laravel": #ff2d20,
        "git-alt": #f05032,
        "wordpress": #21759b,
        "docker": #0db7ed,
        "leaf": #47a248 // MongoDB
);


$images: (
        "CodeIgniter": #DD4814,
        "MySQL": #00758f,
        "jquery": #0769ad,
        "tailwind": #06b6d4,
        "PostgreSQL": #0064a5,
);


html {
  scroll-behavior: smooth;
  overflow-x: hidden;

  @media only screen and (max-width: 576px){
    font-size: 14px;
  }

  @media only screen and (max-width: 320px){
    font-size: 13px;
  }

}

body{
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.4;
  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
  overflow-x: hidden;
}

.f-bebas-neue {
  font-family: "Bebas Neue", sans-serif;
  text-transform: uppercase;
  font-size: 3rem;
  line-height: 1;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: var(--godfryd-primary);
  }

}

.h-100vh {
  min-height: 100vh;
}


.w-fit-content {
  width: fit-content;
}

.fancybox-stage {
  z-index: 10000;
}

section {
  display: flex;
  align-items: center;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 0 0.5em var(--godfryd-graydark);
  background-color: var(--header-bg);
  min-height: 78px;
}

.grecaptcha-badge {
  display: none;
}

.changeThemeBtn {
  min-width: 40px;
  text-align: center;
}

.border-title {
  border-color: var(--border-title-color);
}

section {
  &:nth-of-type(odd) {
    background-color: var(--odd-section-bg);
  }

  &:nth-of-type(even) {
    background-color: var(--even-section-bg);
  }
}

.section-title {
  @extend .f-bebas-neue;
  position: relative;
  margin-bottom: 6.5rem;
  text-align: center;
  font-size: 4rem;

  &:after {
    position: absolute;
    display: block;
    content: '';
    width: 160px;
    height: 2px;
    background-color: var(--godfryd-primary);
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
  }

}

.scroll-down {
  display: flex;
  align-items: center;
  cursor: pointer;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  justify-content: center;
  width: 38px;
  height: 38px;
  background-color: var(--godfryd-primary);
  color: var(--godfryd-white);
  font-size: 22px;
  overflow: hidden;

  &:hover {
    color: var(--godfryd-white) ;
  }

  i {
    animation: arrow-animation 6s ease-in-out infinite;
    animation-delay: 1s;


  }
}


@keyframes arrow-animation {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  30% {
    transform: translateY(38px);
    opacity: 0;
  }
  35% {
    transform: translateY(-38px);
    opacity: 0;
  }
  65% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}



// LOADER


#pageLoader {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  z-index: 5000;
  background-color: var(--bs-body-bg);
  color: var(--bs-heading-color);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  transition: opacity 1s ease-out;

  &.fade-out {
    opacity: 0;
  }

  .loading {
    font-size: 6rem;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 800;
    text-align: center;

    @media screen and (max-width: 575px) {
      font-size: 4rem;
    }

    span {
      display: inline-block;
      margin: 0 -.05em;
    }
  }

  .loading-anim {
    span {
      animation: loading 1.4s infinite alternate;
      @for $i from 0 through 6 {
        &:nth-child(#{$i+1}) {
          animation-delay: #{$i*.1}s;
        }
      }
    }
  }
}

@keyframes loading {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


// AVATAR

.avatar {
  width: fit-content;
  div {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 12px;
    right: 12px;
    border: 3px solid var(--godfryd-primary);
  }
}


// NAVBAR
.navbar{
  font-weight: 500;
  --bs-nav-link-font-size: 1.3rem;
  --bs-nav-link-font-weight: 500;

  &-nav {
    --bs-nav-link-color: var(--godfryd-gray);
    --bs-nav-link-hover-color: var(--bs-body-color);
  }

  .nav-link {
    position: relative;
    &:before {
      position: absolute;
      display: block;
      content: '';
      bottom: 4px;
      left: 5px;
      right: 100%;
      height: 2px;
      background-color: var(--godfryd-primary);
      transition: .4s ease-out;
    }


    &.changeThemeBtn:before {
      display: none;
    }


    &:focus {
      color: var(--bs-nav-link-color);
    }

    &:hover,
    &.active {
      color: var(--bs-nav-link-hover-color);
      &:before {
        right: 5px;
      }
    }
  }
}

#mobileNav {
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: -1;
  right: 0;
  height: 100%;
  transition: background-color .3s ease;
  background-color: transparent;

  .ul-wrap {
    position: fixed;
    width: 85%;
    background-color: var(--header-bg);
    right: -90%;
    transition: right .5s ease;
  }

  &.active {
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1000;

    .ul-wrap {
      right: 0;
    }
  }
}

// HAMBURGER

.hamburger {
  font: inherit;
  display: inline-block;
  overflow: visible;
  cursor: pointer;
  transition: opacity 0.15s linear, filter 0.15s linear;
  text-transform: none;
  color: inherit;
  background-color: transparent;

  &.active:hover,
  &:hover {
    opacity: 0.7;
  }

  &.active .hamburger-inner,
  &.active .hamburger-inner::after,
  &.active .hamburger-inner::before {
    background-color: var(--hamburger-bg);
  }

  .hamburger-box {
    position: relative;
    display: flex;
    width: 40px;
    height: 33px;
    top: -2px;
  }

  .hamburger-inner {
    position: absolute;
    top: 50%;
    display: block;
    width: 40px;
    height: 4px;
    margin-top: -2px;
    background-color: var(--hamburger-bg);
    transition: transform 0.15s ease;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 40px;
      height: 4px;
      background-color: var(--hamburger-bg);
    }

    &::before {
      top: -12px;
    }

    &::after {
      bottom: -12px;
    }
  }

  &.hamburger-squeeze .hamburger-inner {
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition-duration: 75ms;

    &::before {
      transition: top 75ms ease 0.12s, opacity 75ms ease;
    }

    &::after {
      transition: bottom 75ms ease 0.12s, transform 75ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
  }

  &.hamburger-squeeze.active .hamburger-inner {
    transform: rotate(45deg);
    transition-delay: 0.12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

    &::before {
      top: 0;
      opacity: 0;
      transition: top 75ms ease, opacity 75ms ease 0.12s;
    }

    &::after {
      bottom: 0;
      transform: rotate(-90deg);
      transition: bottom 75ms ease, transform 75ms cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
    }
  }
}


// SKILLS

.skills {
  &-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 22px;

    @media screen and (max-width:1399px){
      grid-template-columns: 1fr 1fr;
    }

    @media screen and (max-width:991px){
      grid-template-columns: 1fr 1fr 1fr;
    }
    @media screen and (max-width:470px){
      grid-template-columns: 1fr 1fr;
    }

    @media screen and (max-width:340px){
      grid-template-columns: 1fr;
    }

    > div {
      background-color: var(--skill-bg);
      color: var(--skill-color);
      padding: 1rem;
      text-align: center;
      cursor: pointer;
      transition: transform 0.3s ease;
      overflow: hidden;


      @media  screen and (max-width: 340px) {
        width: 152px;
        margin: 0 auto;
      }

      .content {
        transition: 0.3s ease;
        transform: translateY(20px);
      }

      &:hover, &:focus, &:focus-within {
        .content {
          transform: translateY(0);
        }

        .rate {
          opacity: 1;
          transform: translateY(0);
        }
      }

      @each $tech, $color in $technologies {
        &:hover i.fa-#{$tech} {
          color: $color;
        }
      }

      @each $img, $color in $images {
        &:hover img[alt="#{$img}"], &:hover svg##{$img} {
          fill: $color;
        }
      }

      img, svg {
        width: 100%;
        max-height: 70px;
        margin-bottom: 0.5rem;
        transition: fill 0.3s ease;

        @media screen and (max-width:768px){
          max-height: 50px;
        }
      }

      p {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 0;
      }

      .rate {
        color: var(--godfryd-gray);
        font-weight: 400;
        opacity: 0;
        transform: translateY(30px);
        transition: 0.3s ease;
      }

      //&:hover {
      //  transform: scale(1.1);
      //}

      i {
        transition: color 0.3s ease;
        font-size: 4rem;
        margin-bottom: 0.5rem;

        @media screen and (max-width:768px){
          font-size: 3rem;
        }

      }

      p {
        margin-top: 10px;
        font-size: 1rem;
      }

    }
  }

  //.switch {
  //  color: var(--godfryd-graydark);
  //
  //  &:not(.collapsed), &:hover {
  //    color: var(--godfryd-black);
  //  }
  //
  //  .fa-chevron-down {
  //    transition: transform .3s ease;
  //  }
  //
  //  &:not(.collapsed) .fa-chevron-down {
  //    transform: rotate(180deg);
  //  }
  //}
}

// TIMELINE

.timeline {

  width: fit-content;

  @media screen and (max-width:991px){
    width: 100%;
  }

  > div {
    margin-bottom: 3rem;
  }

  &-dot {
    position: absolute;
    top: 0;
    left: -9px;
    color: var(--godfryd-primary);
  }

  h3 {
    line-height: 1.3;
  }
}



// FORM

.form-wrapper {
  --bs-border-color: var(--input-color);
  --bs-body-bg: var(--input-bg);
  --bs-border-radius: 0;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .25);
  -moz-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .25);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .25);
  background-color: var(--contact-bg);

  label {
    font-size: 14px;
  }
  .form-control {
    &:focus {
      box-shadow: 0 0 0 0.1rem rgba(118, 118, 118, 0.25);
      border-color: var(--godfryd-graydark);
    }

    &::placeholder {
      color: var(--placeholder-color);
    }

    &:-ms-input-placeholder {
      color: var(--placeholder-color);
    }

    &::-ms-input-placeholder {
      color: var(--placeholder-color);
    }

  }
}


// PROJECT


.project-list {

  display: grid;
  gap: 54px;
  grid-template-columns: 1fr 1fr 1fr;

  @media screen and (max-width:991px){
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (max-width:575px){
    grid-template-columns: 1fr;
  }

}

.project {
  &-tags  {
    span {
      background-color: var(--godfryd-primary);
      padding: 0.4rem 0.5rem;
    }
  }

  &-gallery {
    a {
      display: block;
      height: 90px;
    }

    > a {
      height: 300px;
    }

    img {
      object-fit: cover;
      height: 100%;
    }
  }


}

.project-box {
  -webkit-box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.41);
  box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.41);
  cursor: pointer;
  max-height: 306px;

  img {
    object-fit: cover;
  }

  &:hover, &:focus, &:focus-within {
    img {
      transform: scale(1.025);
    }
    .overlay {
      opacity: 100%;
    }
  }

  img{
    transition: transform 0.3s ease;
  }

  .overlay {
    background-color: rgba(10, 36, 57, 76%);
    backdrop-filter: blur(6.8px);
    opacity: 0;
    transition: opacity 0.3s ease;
  }
}


// MODAL




// FOOTER

footer {
  h6 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.4rem;
  }

  ul {
    position: relative;
    list-style-type: none;
    margin: 0;
    padding-left: 1rem;


    li {
      i {
        margin-right: 5px;
      }

      &:last-of-type {
        a {
          margin-right: 20px;
        }
      }

    }

    a:hover {
      color: var(--godfryd-primary);
    }

    &:before {
      display: block;
      content: '';
      position: absolute;
      width: 2px;
      left: 0;
      top: 0;
      bottom: 0;
      background-color: var(--godfryd-primary);
    }

  }
}


// SCROLL UP

.scroll-up {
  display: none;
  right: 4rem;
  bottom: 4rem;
  width: 40px;
  height: 40px;
  background-color: var(--godfryd-primary);
  color: var(--godfryd-white);
  transition: .3s ease;

  &.show {
    display: flex;
  }

  &:hover {
    background-color: var(--godfryd-black);
    color: var(--godfryd-white);
  }

  @media screen and (max-width:768px){
    right: 2rem;
    bottom: 2rem;
  }

}

