body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.4;
}

.f-bebas-neue, .section-title {
  font-family: "Bebas Neue", sans-serif;
  text-transform: uppercase;
  font-size: 3rem;
  line-height: 1;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: var(--godfryd-primary);
}

.h-100vh {
  min-height: 100vh;
}

.fancybox-stage {
  z-index: 10000;
}

section {
  display: flex;
  align-items: center;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

section:nth-of-type(odd) {
  background-color: var(--godfryd-graylight);
}
section:nth-of-type(even) {
  background-color: var(--godfryd-white);
}

.section-title {
  position: relative;
  margin-bottom: 6.5rem;
  text-align: center;
  font-size: 4rem;
}
.section-title:after {
  position: absolute;
  display: block;
  content: "";
  width: 160px;
  height: 2px;
  background-color: var(--godfryd-primary);
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
}

.scroll-down {
  display: flex;
  align-items: center;
  cursor: pointer;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}
.scroll-down i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  background-color: var(--godfryd-primary);
  color: var(--godfryd-white);
  font-size: 22px;
  margin-right: 14px;
}

.avatar {
  width: fit-content;
}
.avatar div {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 20px;
  right: 20px;
  border: 3px solid var(--godfryd-primary);
}

.navbar {
  font-weight: 500;
  --bs-nav-link-font-size: 24px;
  --bs-nav-link-font-weight: 500;
}
.navbar-nav {
  --bs-nav-link-color: var(--godfryd-graydark);
  --bs-nav-link-hover-color: var(--godfryd-black);
}
.navbar .nav-link {
  position: relative;
}
.navbar .nav-link:before {
  position: absolute;
  display: block;
  content: "";
  bottom: 4px;
  left: 5px;
  right: 100%;
  height: 2px;
  background-color: var(--godfryd-primary);
  transition: 0.4s ease-out;
}
.navbar .nav-link:hover:before, .navbar .nav-link.active:before {
  right: 5px;
}

#mobileNav {
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: var(--godfryd-graylight);
  top: -100%;
  transition: 0.5s ease;
}
#mobileNav.active {
  top: 62px;
}

.hamburger {
  font: inherit;
  display: inline-block;
  overflow: visible;
  cursor: pointer;
  transition-timing-function: linear;
  transition-duration: 0.15s;
  transition-property: opacity, filter;
  text-transform: none;
  color: inherit;
  background-color: transparent;
}

.hamburger.active:hover, .hamburger:hover {
  opacity: 0.7;
}

.hamburger.active .hamburger-inner, .hamburger.active .hamburger-inner:after, .hamburger.active .hamburger-inner:before {
  background-color: var(--godfryd-black);
}

.hamburger-box {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

.hamburger-inner {
  top: 50%;
  display: block;
  margin-top: -2px;
}

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
  position: absolute;
  width: 40px;
  height: 4px;
  transition-timing-function: ease;
  transition-duration: 0.15s;
  transition-property: transform;
  background-color: var(--godfryd-black);
}

.hamburger-inner:after, .hamburger-inner:before {
  display: block;
  content: "";
}

.hamburger-inner:before {
  top: -12px;
}

.hamburger-inner:after {
  bottom: -12px;
}

.hamburger-squeeze .hamburger-inner {
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-duration: 75ms;
}

.hamburger-squeeze .hamburger-inner:before {
  transition: top 75ms ease 0.12s, opacity 75ms ease;
}

.hamburger-squeeze .hamburger-inner:after {
  transition: bottom 75ms ease 0.12s, transform 75ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger-squeeze.active .hamburger-inner {
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: rotate(45deg);
}

.hamburger-squeeze.active .hamburger-inner:before {
  top: 0;
  transition: top 75ms ease, opacity 75ms ease 0.12s;
  opacity: 0;
}

.hamburger-squeeze.active .hamburger-inner:after {
  bottom: 0;
  transition: bottom 75ms ease, transform 75ms cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
  transform: rotate(-90deg);
}

.skills-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 22px;
}
@media screen and (max-width: 1399px) {
  .skills-list {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 991px) {
  .skills-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 470px) {
  .skills-list {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 340px) {
  .skills-list {
    grid-template-columns: 1fr;
  }
}
.skills-list > div {
  background-color: var(--godfryd-white);
  color: var(--godfryd-black);
  padding: 1rem;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease;
  overflow: hidden;
}
@media screen and (max-width: 340px) {
  .skills-list > div {
    width: 152px;
    margin: 0 auto;
  }
}
.skills-list > div .content {
  transition: 0.3s ease;
  transform: translateY(20px);
}
.skills-list > div:hover .content, .skills-list > div:focus .content, .skills-list > div:focus-within .content {
  transform: translateY(0);
}
.skills-list > div:hover .rate, .skills-list > div:focus .rate, .skills-list > div:focus-within .rate {
  opacity: 1;
  transform: translateY(0);
}
.skills-list > div:hover i.fa-html5 {
  color: #e34f26;
}
.skills-list > div:hover i.fa-css3-alt {
  color: #1572b6;
}
.skills-list > div:hover i.fa-js {
  color: #f7df1e;
}
.skills-list > div:hover i.fa-sass {
  color: #cc6699;
}
.skills-list > div:hover i.fa-bootstrap {
  color: #7952b3;
}
.skills-list > div:hover i.fa-php {
  color: #777bb4;
}
.skills-list > div:hover i.fa-python {
  color: #306998;
}
.skills-list > div:hover i.fa-java {
  color: #5382a1;
}
.skills-list > div:hover i.fa-laravel {
  color: #ff2d20;
}
.skills-list > div:hover i.fa-git-alt {
  color: #f05032;
}
.skills-list > div:hover i.fa-leaf {
  color: #47a248;
}
.skills-list > div:hover img[alt=CodeIgniter] {
  filter: brightness(0) saturate(100%) invert(46%) sepia(80%) saturate(2685%) hue-rotate(4deg) brightness(93%) contrast(103%);
}
.skills-list > div:hover img[alt=MySQL] {
  filter: brightness(0) saturate(100%) invert(61%) sepia(12%) saturate(3865%) hue-rotate(181deg) brightness(99%) contrast(91%);
}
.skills-list > div img {
  width: 100%;
  max-height: 70px;
  margin-bottom: 0.5rem;
}
@media screen and (max-width: 768px) {
  .skills-list > div img {
    max-height: 50px;
  }
}
.skills-list > div p {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0;
}
.skills-list > div .rate {
  color: var(--godfryd-gray);
  font-weight: 400;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.3s ease;
}
.skills-list > div i {
  font-size: 4rem;
  margin-bottom: 0.5rem;
}
@media screen and (max-width: 768px) {
  .skills-list > div i {
    font-size: 3rem;
  }
}
.skills-list > div p {
  margin-top: 10px;
  font-size: 1rem;
}

.form-wrapper {
  --bs-border-color: var(--godfryd-gray);
  --bs-body-bg: var(--godfryd-graylight);
  --bs-border-radius: 0;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.form-wrapper label {
  font-size: 14px;
}
.form-wrapper .form-control:focus {
  box-shadow: 0 0 0 0.1rem rgba(118, 118, 118, 0.25);
  border-color: var(--godfryd-graydark);
}
.form-wrapper .form-control::placeholder {
  color: var(--placeholder-color);
}
.form-wrapper .form-control:-ms-input-placeholder {
  color: var(--placeholder-color);
}
.form-wrapper .form-control::-ms-input-placeholder {
  color: var(--placeholder-color);
}

.project-list {
  display: grid;
  gap: 54px;
  grid-template-columns: 1fr 1fr 1fr;
}
@media screen and (max-width: 991px) {
  .project-list {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 575px) {
  .project-list {
    grid-template-columns: 1fr;
  }
}

.project-tags span {
  background-color: var(--godfryd-primary);
  padding: 0.4rem 0.5rem;
  margin: 0 0.3rem;
}
.project-tags span:first-of-type {
  margin-left: 0;
}
.project-tags span:last-of-type {
  margin-right: 0;
}
.project-gallery a {
  display: block;
  height: 90px;
}
.project-gallery > a {
  height: 300px;
}
.project-gallery img {
  object-fit: cover;
  height: 100%;
}

.project-box {
  -webkit-box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.41);
  box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.41);
  cursor: pointer;
}
.project-box:hover img, .project-box:focus img, .project-box:focus-within img {
  transform: scale(1.025);
}
.project-box:hover .overlay, .project-box:focus .overlay, .project-box:focus-within .overlay {
  opacity: 100%;
}
.project-box img {
  transition: transform 0.3s ease;
}
.project-box .overlay {
  background-color: rgba(10, 36, 57, 0.76);
  backdrop-filter: blur(6.8px);
  opacity: 0;
  transition: opacity 0.3s ease;
}

footer h6 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.4rem;
}
footer ul {
  position: relative;
  list-style-type: none;
  margin: 0;
  padding-left: 1rem;
}
footer ul li i {
  margin-right: 5px;
}
footer ul li:last-of-type a {
  margin-right: 20px;
}
footer ul a:hover {
  color: var(--godfryd-primary);
}
footer ul:before {
  display: block;
  content: "";
  position: absolute;
  width: 2px;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: var(--godfryd-primary);
}

.scroll-up {
  display: none;
  right: 4rem;
  bottom: 4rem;
  width: 40px;
  height: 40px;
  background-color: var(--godfryd-primary);
  color: var(--godfryd-white);
  transition: 0.3s ease;
}
.scroll-up.show {
  display: flex;
}
.scroll-up:hover {
  background-color: var(--godfryd-black);
  color: var(--godfryd-white);
}

/*# sourceMappingURL=style.css.map */
